<h2 class="greeting"><%= t('precheck.status.show.greeting') %></h2>

<p>
  <% if @family.approved? 
    if @family.anyone_registered_for_legacy_conferences? %>
      <%= t('.precheck_confirmed_legacy_html', conference: UserVariable[:conference_id]) %>
    <% else %>
      <%= t('.precheck_confirmed_html', conference: UserVariable[:conference_id]) %>
    <% end
  else %>
    <%= t('.onsite_confirmed', conference: UserVariable[:conference_id]) %>
  <% end %>
</p>

<p><%= t('.summary_preamble') %></p>

<p><%= t('.contact_list_preamble') %></p>

<%= t('.contact_list_html') %>

<%= t('.signature_html', conference: UserVariable[:conference_id]) %>

<br>
<br>

<%= render 'families/family_summary', family: @family, finances: @finances, policy: @policy, without_unit: true %>
