<p>
  <%= t('.intro') %>
</p>

<p><%= @family.to_s %></p>

<p><%= t('.staff_number') %> <%= @family.staff_number %></p>

<p><%= link_to(t('.link'), family_url(@family)) %></p>

<% @family.attendees.each do |attendee| %>
  <p><%= mail_to(attendee.email, "#{attendee.full_name} <#{attendee.email}>") %></p>
<% end %>

<p><%= t('.message') %>:</p>

<blockquote><%= @message %></blockquote>
