<p>
  <%= t('.intro') %>
</p>

<p><%= @family.to_s %></p>

<p><%= t('.staff_number') %> <%= @family.staff_number %></p>

<p><%= link_to(t('.link'), family_url(@family)) %></p>

<p><%= t('.message') %>:</p>

<blockquote><%= @message %></blockquote>
