<%= image_tag(UserVariable[:conference_logo_url]) %>

<p>Your precheck for Summer19/Cru19 is completed!</p>

<p>When arriving to the event, you can skip the registration process and simply pick up your credentials at the welcome desk.</p>

<p>For questions regarding: </p>
<ul>
  <li>Kids Care / Kids Camp, please contact <%= mail_to "Cru19.Childcare@cru.org" %></li>
  <li>Jr. High / Sr. High Program, please contact <%= mail_to "Cru19.JrSrHigh@cru.org" %></li>
  <li>Finances, please contact <%= mail_to "Cru19.Finance@cru.org" %></li>
  <li>Anything else, please contact <%= mail_to "Cru19.Info@cru.org" %></li>
</ul>

<p>Sincerely, <br><br>
  Team19</p>
