<h2 class="greeting"><%= t('precheck.status.show.greeting') %></h2>

<p>
  <%= t('precheck_mailer.not_eligible_preamble_html') %>
</p>

<% precheck_eligibility_actionable_errors(@family).each do |error| %>
  <p>
    <%= t("precheck_mailer.eligibility_errors.#{error}_html") %>
  </p>
<% end %>
<%= link_to t('.link'), precheck_status_url(token: @token.token) %>
<br>
<br>
<p>
  <%= t("precheck_mailer.video_html") %>
</p>
<p>
  <%= t("precheck_mailer.closing_html") %>
</p>
