<!DOCTYPE html>
<html>
  <head>
    <title><%= t('.title') %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='precheck-container'>
      <div style='text-align:center'>
        <%= image_tag(UserVariable[:conference_logo_url], style: 'max-width: 50%') %>
      </div>
      <br>
      <%= yield %>
    </div>
  </body>
</html>
