<!DOCTYPE html>
<html>
  <head>
    <title><%= t('.title') %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='precheck-container'>
      <%= image_tag(UserVariable[:conference_logo_url]) %>
      <br>
      <br>
      <% unless @family&.checked_in? && !@family&.approved? %>
        <h1><%= [UserVariable[:conference_id], t('.precheck')].join(' ') %></h1>
      <% end%>
      <%= yield %>
    </div>
  </body>
</html>
